<div class="container">
  <div class="game-container d-flex flex-column align-items-center justify-content-center">
    <p class="my-4 w-75 text-center">Welcome to the entrance exam for joining the family.</p>
    <%= link_to "Start Test", question_path(@question), class: "btn btn-primary w-50 my-4" %>
  </div>
</div>
