<div class="container d-flex flex-column align-items-center">
  <p>Welcome to the entrance exam for joining the family.</p>
  <%= link_to "Start Test", question_path(@question), class: "btn btn-primary w-50" %>
</div>
